// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (c) 2018 Fuzhou Rockchip Electronics Co., Ltd
 */

/dts-v1/;
#include <dt-bindings/display/drm_mipi_dsi.h>
#include <dt-bindings/clock/rk618-cru.h>
#include "rk1808-evb.dtsi"

/ {
	model = "Infoworks AI KIT Board";
	compatible = "rockchip,rk1808-evb-v10", "rockchip,rk1808";

	chosen {
		bootargs = "earlycon=uart8250,mmio32,0xff430000 console=ttyFIQ0 root=PARTUUID=614e0000-0000 rootfstype=ext4 rootwait swiotlb=1 kpti=0 snd_aloop.index=7";
	};

	fiq-debugger {
		status = "okay";
		rockchip,serial-id = <0>;
		rockchip,irq-mode-enable = <1>;
		pinctrl-names = "default";
		pinctrl-0 = <&uart0_xfer>;
	};

	vad-sound {
		status = "enable";
		compatible = "rockchip,multicodecs-card";
		rockchip,card-name = "rockchip,rk1808-vad";
		rockchip,cpu = <&pdm>;
		rockchip,codec = <&vad>;
	};
};
/*
+-----+--------+------+---GPIO---+------+--------+-----+
|     |  Name  | Mode | Physical | Mode |  Name  |     |
+-----+--------+------+----++----+------+--------+-----+
|     |   3.3V |      |  1 || 2  |      | 5.0V   |     |
|     |  SCL.3 |      |  3 || 4  |      | 5.0V   |     |
|     |  SDA.3 |      |  5 || 6  |      | GND    |     |
|     | IO2.B0 |      |  7 || 8  |      | TxD.1  |     |
|     |    GND |      |  9 || 10 |      | RxD.1  |     |
|     | IO2.B1 |      | 11 || 12 |      | IO4.A6 |     |
|     | IO2.B4 |      | 13 || 14 |      | GND    |     |
|     | IO2.B5 |      | 15 || 16 |      | IO4.A7 |     |
|     |   3.3V |      | 17 || 18 |      | IO4.B2 |     |
|     |   MOSI |      | 19 || 20 |      | GND    |     |
|     |   MISO |      | 21 || 22 |      | IO4.B3 |     |
|     |   SCLK |      | 23 || 24 |      | CE0    |     |
|     |    GND |      | 25 || 26 |      | CE1    |     |
|     |  SDA.2 |      | 27 || 28 |      | SCL.2  |     |
|     | IO2.B6 |      | 29 || 30 |      | GND    |     |
|     | IO2.B7 |      | 31 || 32 |      | IO1.B6 |     |
|     | IO1.B7 |      | 33 || 34 |      | GND    |     |
|     | IO2.B4 |      | 35 || 36 |      | ADC.1  |     |
|     |  ADC.0 |      | 37 || 38 |      | IO2.C0 |     |
|     |    GND |      | 39 || 40 |      | IO2.C1 |     |
+-----+--------+------+----++----+------+--------+-----+
|     |  Name  | Mode | Physical | Mode |  Name  |     |
+-----+--------+------+---GPIO---+------+--------+-----+

*/
// if using SPI1 M0, must disable UART4

&spi1 {
	status = "okay";
	dma-names = "tx", "rx";

	spi_test@00 {
		compatible = "rockchip,spidev";
		reg = <0>;
		spi-max-frequency = <5000000>;
	};
};

&uart1 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&uart1m0_xfer>; /* GPIO4 PB0,PB1 */
};

&uart4 {
	status = "disabled";
};

&adc_key {
	status = "disabled";
};

&display_subsystem {
	status = "okay";
};

&i2c1 {
	status = "okay";

	clock-frequency = <100000>;
	imx219: imx219@64 {
		status = "okay";
		compatible = "sony,imx219";
		reg = <0x64>;
		clocks = <&cru SCLK_CIF_OUT>;
		clock-names = "xvclk";
		avdd-supply = <&vcc2v8_dvp>;
		dovdd-supply = <&vdd1v5_dvp>;
		dvdd-supply = <&vcc1v8_dvp>;
		pwdn-gpios = <&gpio0 RK_PC5 GPIO_ACTIVE_LOW>;
		pinctrl-names = "default";
		pinctrl-0 = <&cif_clkout_m0>;
		rockchip,camera-module-index = <0>;
		rockchip,camera-module-facing = "back";
		rockchip,camera-module-name = "TongJu";
		rockchip,camera-module-lens-name = "CHT842-MD";
		port {
			ucam_out: endpoint {
				remote-endpoint = <&mipi_in_ucam>;
				data-lanes = <1 2>;
			};
		};
	};
};

&i2c2 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&i2c2m1_xfer>;
};

&i2c3 {
	status = "okay";
};

&i2c4 {
	status = "okay";
};

&i2c5 {
	status = "okay";

	rk618@50 {
      compatible = "rockchip,rk618";
      reg = <0x50>;
      pinctrl-names = "default";
      pinctrl-0 = <&i2s1_2ch_mclk>;
      clocks = <&cru SCLK_I2S1_2CH_OUT>;
      clock-names = "clkin";
      assigned-clocks = <&cru SCLK_I2S1_2CH_OUT>;
      assigned-clock-rates = <12000000>;
      reset-gpios = <&gpio4 RK_PC3 GPIO_ACTIVE_LOW>;
      status = "okay";

      clock: cru {
         compatible = "rockchip,rk618-cru";
         clocks = <&cru SCLK_I2S1_2CH_OUT>, <&cru DCLK_VOPLITE>;
         clock-names = "clkin", "lcdc0_dclkp";
         assigned-clocks = 
						<&clock SCALER_PLLIN_CLK>,
                 <&clock VIF_PLLIN_CLK>,
					  <&clock SCALER_CLK>,
                 <&clock VIF0_PRE_CLK>,
                 <&clock CODEC_CLK>,
                 <&clock DITHER_CLK>;
         assigned-clock-parents = 
						<&cru SCLK_I2S1_2CH_OUT>,
						<&clock LCDC0_CLK>,
                   <&clock SCALER_PLL_CLK>,
                   <&clock VIF_PLL_CLK>,
                   <&cru SCLK_I2S1_2CH_OUT>,
						 <&clock VIF0_CLK>;
         #clock-cells = <1>;
         status = "okay";
      };  

      hdmi {
         compatible = "rockchip,rk618-hdmi";
         clocks = <&clock HDMI_CLK>;
         clock-names = "hdmi";
         assigned-clocks = <&clock HDMI_CLK>;
         assigned-clock-parents = <&clock VIF0_CLK>;
         interrupt-parent = <&gpio2>;
         interrupts = <12 IRQ_TYPE_LEVEL_HIGH>;
         status = "okay";

         ports {
            #address-cells = <1>;
            #size-cells = <0>;

            port@0 {
               reg = <0>;
               hdmi_in_scaler: endpoint {
                  remote-endpoint = <&scaler_out_hdmi>;
               };  
            };  
         };  
      };

		scaler {
			compatible = "rockchip,rk618-scaler";
			clocks = <&clock SCALER_CLK>, <&clock VIF0_CLK>,
						<&clock DITHER_CLK>;
			clock-names = "scaler", "vif", "dither";
			status = "okay";

			ports {
				#address-cells = <1>;
				#size-cells = <0>;

				port@0 {
					reg = <0>;

					scaler_in_rgb: endpoint{
						remote-endpoint = <&rgb_out_scaler>;
					};
				};

				port@1 {
					reg = <1>;

					scaler_out_hdmi: endpoint {
						remote-endpoint = <&hdmi_in_scaler>;
					};
				};
			};
		};

		rgb {
			compatible = "rockchip,rk618-rgb";
			clocks = <&clock RGB_CLK>;
			clock-names = "rgb";
			status = "okay";
			bus-format = <MEDIA_BUS_FMT_RGB666_1X18>;

			ports {
				#address-cells = <1>;
				#size-cells = <0>;

				port@0{
					reg = <0>;

					rgb_in_rgb_bridge: endpoint{
						remote-endpoint = <&port_out_rgb>;
					};
				};

				port@1{
					reg = <1>;

					rgb_out_scaler: endpoint{
						remote-endpoint = <&scaler_in_rgb>;
					};
				};
			};
		};

   };  
};

&rgb {
   status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&lcdc_rgb_dclk_pin &lcdc_rgb_den_pin 
	&lcdc_rgb_m0_hsync_pin &lcdc_rgb_m0_vsync_pin 
	&lcdc_rgb666_data_pins>;
	
	bus-format = <MEDIA_BUS_FMT_RGB666_1X18>;

			
			panel: panel {
				status = "okay";
				compatible = "simple-panel";
				backlight = <&backlight>;
				power-supply = <&lcd_pwr>;
				width-mm = <120>;
				height-mm = <80>;
		
				reg = <0>;
				bus-format = <MEDIA_BUS_FMT_RGB666_1X18>;
		
				display-timings {
					native-mode = <&timing0>;
					timing0: timing0{
						clock-frequency = <74250000>;
						hactive = <1280>;
						vactive = <720>;
						hback-porch = <30>;
						hfront-porch = <30>;
						vback-porch = <10>;
						vfront-porch = <15>;
						hsync-len = <20>;
						vsync-len = <5>;
						hsync-active = <0>;
						vsync-active = <0>;
						de-active = <0>;
						pixelclk-active = <0>;
					};
				};
			};


   ports {
      port@1 {
         reg = <1>;

         port_out_rgb: endpoint {
           remote-endpoint = <&rgb_in_rgb_bridge>;
         };
      };
   };
};

&rgb_in_vop_lite {
	status = "okay";
};

&route_rgb {
   connect = <&vop_lite_out_rgb>;
   status = "disabled";
};


&pdm {
	status = "disabled";
	#sound-dai-cells = <0>;
};

&i2s0 {
	status = "disabled";
};

&i2s1 {
	status = "okay";
	#sound-dai-cells = <0>;
};

&isp_mmu {
	status = "okay";
};

&mipi_dphy {
	status = "okay";
};

&mipi_dphy_rx {
	status = "okay";
	ports {
		#address-cells = <1>;
		#size-cells = <0>;

		port@0 {
			status = "okay";
			reg = <0>;
			#address-cells = <1>;
			#size-cells = <0>;

			mipi_in_ucam: endpoint@1 {
				reg = <1>;
				remote-endpoint = <&ucam_out>;
				data-lanes = <1 2>;
			};
		};

		port@1 {
			reg = <1>;
			#address-cells = <1>;
			#size-cells = <0>;

			dphy_rx0_out: endpoint@0 {
				reg = <0>;
				remote-endpoint = <&isp0_mipi_in>;
			};
		};
	};
};


&rk_rga {
	status =  "okay";
};

&rk809_sound {
	status = "okay";
};

&rk809_codec {
	status = "okay";
};


&rkisp1 {
	status = "okay";

	port {
		#address-cells = <1>;
		#size-cells = <0>;

		isp0_mipi_in: endpoint@0 {
			reg = <0>;
			remote-endpoint = <&dphy_rx0_out>;
		};
	};
};

&rng {
	status = "okay";
};

&tsadc {
	rockchip,hw-tshut-mode = <1>; /* tshut mode 0:CRU 1:GPIO */
	rockchip,hw-tshut-polarity = <0>; /* tshut polarity 0:LOW 1:HIGH */
	pinctrl-names = "gpio", "otpout";
	pinctrl-0 = <&tsadc_otp_gpio>;
	pinctrl-1 = <&tsadc_otp_out>;
	status = "okay";
};

&vad {
	status = "enable";
	rockchip,audio-src = <&pdm>;
	rockchip,buffer-time-ms = <200>;
	rockchip,det-channel = <0>;
	rockchip,mode = <1>;
	#sound-dai-cells = <0>;
};

&vop_lite {
	status = "okay";
	rockchip,grf = <&grf>;
};

&vop_lite_out_dsi {
	status = "disabled";
};

&vopl_mmu {
	status = "okay";
};

&vpu_mmu {
	status = "okay";
};

&vpu_service {
	status = "okay";
};

&wireless_bluetooth{
	status = "disabled";
};

&wireless_wlan{
	status = "disabled";
};

//////////////// USB 3.0 Setting

&combphy {
   status = "okay";
};

&usb_host0_ehci {
        status = "okay";
};

&usb_host0_ohci {
        status = "okay";
};

&pcie0 {
   status = "disabled";
};

&usbdrd3 {
   status = "okay";
};

&usbdrd_dwc3{
   status = "okay";
   dr_mode = "host";
};
